/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.splash {
  margin-left: 5%;
  margin-right: 5%;
}

#nav-navbar {
  flex-grow: 1;
  display: flex;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
}

.nav {
  border: solid black 1px;
  text-decoration: none;
  padding: 5px 20px;
}

#belowNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

}

#profileBio {
  order: 1;
  flex: 40%;
  margin: 5pt;
}

.profile {
  border: solid black 1px;
  background-color: rgb(46, 137, 241);
  padding: 5pt;
}

/* .nav-profile {
  display: flex;
  text-decoration: none;
  width: 100%;
} */

.top-profile {
  height: 100px;
}



.bottom-profile {
  height: 100px;
  background-color: white;
}

.bio {
  border: solid black 1px;
  padding: 5pt;
}

.feed {
  
  order: 2;
  flex: 40%;
  margin: 5pt;
  border: solid black 1px;
  padding: 5pt;
  
}

.friend-req {
  order: 3;
  flex: 20%;
  margin: 5pt;
  border: solid black 1px;
  padding: 5pt;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start; */
}

/* .column {
  vertical-align: text-top;
  float: left;
  padding-left: 20px;
} */


.image-icon {
  height: 1cm;
  width: 1cm;
  float: left;
}

.firend-icon {
  height: 1cm;
  width: 1cm;
  float: left;
}

#search {
  width: 50%;
}